GROQ_API_KEY=""
GEMINI_API_KEY=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

JARVIS_IMAP_USER=""
JARVIS_IMAP_PASS=""
JARVIS_IMAP_HOST="imap.gmail.com"
JARVIS_SMTP_HOST="smtp.gmail.com"
JARVIS_IMAP_PORT="993"
JARVIS_SMTP_PORT="587"
